/* general styles */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: snow;
    background-image: url(images/backgrounds/clean-gray-paper.png);
}

header {
    text-align: center;
    padding: 50px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: slategray;
    margin: 0;
}

nav a {
    color: snow;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
}

nav a:hover {
    color: gray;
    background-color: snow;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutme{
    display: flex;
}

.about {
    margin: 0 10px;
    flex: 2;
}



article {
    margin-top: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    margin: auto;
}

#project-title {
    text-align: center;
}


.img-container{
    flex: 1;
    margin: 20px;
    padding: auto auto;
    
}

.img-container > img{
    max-width: 100%;
}

a > img{
    height: auto;
    max-width: 250px;

}

h4{
    text-align: center;
}

.project p{
    text-align: center;
}

#contact > h3{
    text-align: center;
}

footer {
    padding: 6px;
    text-align: right;
    background-color: slategray;
    color: snow;
}



@media all and (max-width: 800px){
    *{
        flex-direction: column;
    }
    .img-container{
        margin: 20px auto;
    }
}



