/* general styles */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: snow;
    background-image: url(images/backgrounds/clean-gray-paper.png);
}

header {
    text-align: center;
    padding: 50px 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: slategray;
    margin: 0;
}

nav a {
    color: snow;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
}

nav a:hover {
    color: gray;
    background-color: snow;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutme{
    display: flex;
}

.about {
    margin: 10px;
    flex: 2;
}



article {
    margin: 10px;
}

.projects {
    display: flex;
}

.project {
    flex: 2;
}
.project > img {
    height: 150px;
    width: auto;
}

.img-container{
    flex: 1;
    margin: 20px;
    padding: auto auto;
    
}

.img-container > img{
    max-width: 100%;
}

footer {
    padding: 20px;
    text-align: right;
}


@media all and (max-width: 600px){
    *{
        flex-direction: column;
    }
    .img-container{
        margin: 20px auto;
    }
}



