/* general styles */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d4dda7;
    background-image: url(images/backgrounds/natural-paper.png);
}

header {
    height: auto;
    background-color: #5E6973;
    background-image: url(images/backgrounds/cartographer.png);
}

nav {
    text-align: center;
    margin: 0 0 0 8px;
}

.logo {
    font-family: "Belgrano", 'Times New Roman', Times, serif;
    font-size: 28px;
    color: cornsilk;
    text-align: center;
    padding: 20px 0 0 0;
}

header h1{
    margin: 0px;
    color: cornsilk;
    text-align: center;
}

header h2 {
    color: cornsilk;
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: #5E6973;
    background-image: url(images/backgrounds/cartographer.png);
    padding-right: 1%;
    color: cornsilk;
}

section {
    padding: 0 25%;
    margin: 12px 0;
}

section > p {
    text-align: center;
}

article {
    background-color: #5E6973;
    background-image: url(images/backgrounds/cartographer.png);
}

.centered {
    text-align: center;
}

.left {
    text-align: left;
    padding: 0 20%;
}

ul, ol {
    list-style-position: inside;
    padding: 0 25%;
}

hr {
    margin: 0 0;
}

/* text styles */

h1, h2, h3 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #5E6973;
    text-align: center;
}


h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }

p, li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
}

article > p, article > h3{
    color: cornsilk;
}

a {
    text-decoration: none;
}
a:link {color: rgb(25, 212, 81);}
a:visited {color:  rgb(75, 180, 106);}
a:hover {color:  rgb(37, 214, 90);}
a:active {color:  rgb(17, 218, 77);}
a:hover {font-weight: bold;}

footer p{
    text-align: right;
}

/* image styling */
img {
    border-radius: 12px;
    border: 0px solid #ffffff;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
